tree_output.txt
tree_clipboard.txt

.vscode/

backend/db.js
backend/test.js
backend/src/logs.js
backend/src/test.js
backend/dist/
backend/src/ChessLogic/image.png
backend/node_modules/
backend/package-lock.json
backend/.env
backend/src/testAPI.http

frontend/.env
frontend/node_modules/
frontend/package-lock.json



# # See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# # dependencies
# /node_modules
# /.pnp
# .pnp.js

# # testing
# /coverage

# # production
# /build

# misc
backend/DS_Store
backend/env.local
backend/env.development.local
backend/env.test.local
backend/env.production.local

