.App{
    background-color: rgb(48, 48, 48)
}
.chessboard{
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 24fr;
    grid-template-rows: 24fr 1fr;
}
.grid {
    height: 480px;
    width: 480px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
    border-radius: 5px;
    background-image: url(../../public/assets/image/board.png);
    background-size: contain;
}
.chessboard .verticle{
    grid-area:  1/1/2/2;
}
.chessboard .grid{
    grid-area: 1/2/2/3;
}
.chessboard .horizontal {
    grid-area: 2/2/3/3;
}
.horizontal div {
    display: inline-block;
    width: 60px;
    text-align: center;
    color: #aaa;
}
.verticle div {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
}
.tile {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    display: grid;
    place-content: center;
}
.black-tile{
    background-color: #779556;
}
.white-tile{
    background-color: #ebecd0;
}
img {
    transform: scale(0.4);
}
.chess-piece{
    height: 60px;
    width: 60px;
    background-size: contain;
    cursor: grab;
}
.chess-piece:active{
    cursor: grabbing;
}
.valid-move {
    position: relative;
}
.valid-move::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid black;
    opacity: 0.3;
}

.play-button {
    height: 200px;
    width: 200px;
}